<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | Not Gr / blackmann</title>
    <link rel="stylesheet" href="/static/main.css"/>
    <meta name="description"
          content="{{ description | default: "I'm De-Great. A Senior Frontend Developer. I primarily work with Javascript and Rust. Experiment a lot on random stuff and keep the office vibes going." | replace: '"', "'" }}"/>
    <meta name="theme-color" content="#efefef"/>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title | replace: '"', "'" }}" />
    <meta property="og:description" content="{{ description | default: "I'm De-Great. A Senior Frontend Developer. I primarily work with Javascript and Rust. Experiment a lot on random stuff and keep the office vibes going." | replace: '"', "'" }}" />
    <meta property="og:url" content="https://degreat.co.uk{{ path }}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SB4PQVZYY0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-SB4PQVZYY0');
    </script>
</head>
<body>
<main>
    <header class="container ph-1">
        {% if show_home %}
            <a href="/" class="font-secondary home-link fw-medium mt-2">Go back home</a>
        {% endif %}
    </header>
    {{ content }}
</main>
</body>
</html>